body {
  background-color: #444444;
  background: url(../../public/assets/ronan-furuta-0xOG0Df1Re4-unsplash.jpg)
    no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.containerA {
  color: azure;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

p {
  text-align: center;
}

#profile {
  max-width: 250px;
}
