body {
  background-color: #444444;
  background: url(../../public/assets/ronan-furuta-0xOG0Df1Re4-unsplash.jpg)
    no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.containerC {
  color: rgb(0, 0, 0);
  justify-content: center;
}

h1 {
  color: azure;
}
