/* 
#444444 dark grey
#3BAAFF blue jean
#E2D872 straw
#FF3B6C radical
#E2E2E2 platinum 
*/

* {
  box-sizing: border-box;
}

#projects {
  background-color: #444444;
}

#proj-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: #3baaff; */
}

.cards {
  background-color: #3f3f3f;
  color: #fa3c69;
  /* text-align: center; */
}

h1 {
  text-align: center;
  color: #3baaff;
}

.image {
  filter: grayscale(90%);
}

/* Card.Title {
  text-align: center;
} */
