/* 
#444444 dark grey
#3BAAFF blue jean
#E2D872 straw
#FF3B6C radical
#E2E2E2 platinum 
*/

body {
  background-color: #444444;
  background: url(../../public/assets/ronan-furuta-0xOG0Df1Re4-unsplash.jpg)
    no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

/* #projects {
  background-color: #444444;
} */

#proj-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: #3baaff; */
}

.cards {
  background-color: #3f3f3f;
  color: #fa3c69;
  /* text-align: center; */
}

h1 {
  text-align: center;
  color: #3baaff;
}

.image {
  filter: grayscale(90%);
}

/* Card.Title {
  text-align: center;
} */
